[alias]
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  graph = log --pretty=oneline --abbrev-commit --graph --decorate
  la = "!git config -l | grep alias | cut -c 7-"
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
  dc = diff --cached
  oops = reset --hard HEAD~1
  dsf = "!git diff --color $@ | diff-so-fancy | less --tabs=1,5 -R"
  copr = "!f() { git fetch -fu origin refs/pull/$1/head:pr-$1; git checkout pr-$1; } ; f"
  prunepr = "!git for-each-ref refs/heads/pr-* --format='%(refname:short)' | while read ref ; do git branch -D $ref ; done"
[color]
	ui = true
[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	commit = yellow bold
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "branch"]
  current = green reverse
  local   = yellow
  remote  = magenta
[user]
	name = Kerri Miller
	email = kerrizor@kerrizor.com
[github]
  user = kerrizor
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
  editor = vim
	excludesfile = /Users/kerrimiller/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
  tool = opendiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rerere]
	enabled = true
[pull]
	rebase = true
[default]
  default = simple
